body{font:normal 12px/14px "Helvetica Neue",Helvetica,Arial,sans-serif; color: #f1f1f1;margin:50px 0px; padding:0px;background:#222;text-align:center;}
a {color:#efefef;}
ul {width:100%;display:block;margin:0;padding:0;list-style:none;float:left;}
em {display:block;font-style:normal;}
img {border:none;}
input[type=text] {padding:5px;font-size:22px;color:#ccc;}
#search {margin:8px 0 0 49px;float:left;display:none;}
#header_search_box {font-size:15px;padding:2px;}
#search .btn {font-size: 12px !important;padding:0.3em .65em !important;height:30px;line-height:12px;margin-left:8px !important;}

h2 {font-size:18px;margin:10px 0;color:#fff;}
h2 em {font-size:14px;color:#ddd;}
h3 {font-size:14px;margin-bottom:10px;float:left;width:100%;}
h3 em {font-size:11px; color:#ddd;}

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:445px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.page {width:100%;float:left;margin:0;}
.column { margin: 0 0; overflow: hidden; float: left; display: inline;} 
.row { width: 900px; margin: 0 auto; overflow: hidden; } 
.row .row { margin: 0 -10px; width: auto; display: inline-block; }
.hidden { display: none; }
.rounded, .btn {-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
.box_shadow {-moz-box-shadow:0px 2px 5px rgba(000, 000, 000, 0.3);-webkit-box-shadow:0px 2px 5px rgba(000, 000, 000, 0.3);box-shadow:0px 2px 5px rgba(000, 000, 000, 0.3);}
.see_through {filter:alpha(opacity=88);-moz-opacity:.88;opacity:.88; }

#container {display: block; width:100%;width: 960px; margin:50px auto 0 auto;text-align:left;padding:15px;}
h1.headline {font-size: 22px; line-height: 100%;margin-bottom:10px;}
h1.headline em {font-size:15px;font-weight:normal;}
h1.person_search {position:relative;margin:0 2px 9px;font-size:16px;}

#header {position:fixed;top:0;left:0;width:100%;background:#555;border-bottom:5px solid #000;z-index:2;height:43px;}
#header h1 {color:#FFD90F;margin:3px 0 0 25px;font-size:25px;line-height:27px;font-weight:normal;float:left;font-family: 'Pacifico', arial, serif;text-shadow:0.1em 0.1em 1em #000000;}
#header h1 a {color:#bbb;text-decoration:none;}
#header h1 em {color:#fff;font-style:normal;font-size:13px;text-shadow:1px 1px 1px #333;font-family:"Helvetica Neue", Helvetica,Arial,sans-serif;display:inline;margin-left:10px;}
#header ul.right_menu {float:right;font-size:13px;color:#ddd;margin:6px 15px 0 0;width:auto;position:relative;}
#header ul.right_menu li {color:#bbb;display:inline;float:left;margin:0;font-size:11px;position:relative;width:142px;padding:5px 0;}
#header ul.right_menu li a {color:#efefef;text-decoration:none;font-size:15px;}
/*ul.right_menu li:hover {background:#777;}*/
#steve, #data_sources {display:none;position:absolute;right:0;top:30px;font-size:12px;padding:10px;background:#777;color:#fff;text-align:left;width:400px;}
#data_sources p {margin:16px 0;font-size:14px;line-height:140%;}
#data_sources a {font-size:14px !important;text-decoration:underline !important;}
#steve ul {}
#steve li {width:100%;float:left;margin:5px 0;color:#fff;}

#header b {position:absolute;height:18px;right:3px;top:7px;width:15px;background: url("../images/arrows.png") no-repeat scroll .2em .3em transparent;border: 1px solid #666;}

#title {margin-top:25%;margin-left:20%;}
#results {display:none;background:transparent;padding:23px;position:relative;}
#middle {padding-left:10px;display:none;}
#overlay {background:#111;position:absolute;height:100%;width:100%;z-index:-1;margin:-22px 0px 0px -23px;}

#infochimps input[type=text] {width:286px;margin-right:5px;}
#infochimps input[type=submit] {margin-top:3px !important;}

#results_loading, #conversations_loading {width:450px;height:25px;margin-top:41px;display:none;font-size:15px;}
#results_sorted_note {margin:31px 0 -17px 0;font-size:12px;display:none;}
#results_sorted_note a {padding:1px 4px !important;background:#999;font-size:11px;color:#FFF;}

div.photo img {height:100%;width:100%;}
div.photo h2 {position:absolute;width:96%;text-align:center;background:#000;bottom:-10px;left:2px;padding:5px 0;font-weight:normal;line-height:120%;font-size:14px;filter:alpha(opacity=72);-moz-opacity:.72;opacity:.72;}
div.photo h2 a {color:#FFF;text-shadow:none;text-decoration:none;}
div.photo b {position:absolute;padding:1px 4px;background:#603C73;font-size:12px;color:#FFF;bottom:-42px; right:2px;}
div.description {float:left;margin:7px 0 0;}
div.description h3 {margin:0 0 3px 0;font-size:12px;width:120px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
div.description h3 a {text-decoration:none;}
div.description h3 em {font-size:11px;font-weight:normal;color:#555;margin-top:3px;}
div.description em a {color:#559EAA;text-decoration:none;}

ul.menu {display:block;width:100%;margin:0;padding:0;margin-left:-5px;width:120px;}
ul.menu li {display:inline;float:left;margin:0 4px !important;color:#999;font-size:11px;width:auto !important;height:auto !important;padding:0 !important;}
ul.menu li a {color:#999; text-decoration:none;}
ul.menu li.bold a {color:#559EAA;font-weight:bold;}
ul.menu li.trustrank {padding:1px 4px !important;background:#999;font-size:11px;color:#FFF;}
ul.menu li.trustrank:hover {background:#999;color:#fff;}

#details {position:fixed;height:100%;width:435px;top:0;right:-440px;display:none;z-index:0;}
#person_utility {position:fixed;height:100%;width:435px;top:0;right:0;z-index:0;background:#ccc;padding:74px 10px 10px 10px;}
#person_details {width:435px;z-index:0;margin:80px 0 0 75px;}
#details div.details_container {position:relative;height:100%;width:100%;}
#details div.content, #person_details div.content {background:#ccc;margin-left:15px;width:100%;height:100%;margin-top:46px;padding:10px 0 10px 15px;}
#person_details div.content {background:transparent;display:none;}
div.pointer-left {position:absolute;top:43%;left:-18px;}
div.pointer-left-inner { border-color:transparent #ccc transparent transparent; border-style:solid; border-width:20px 40px 20px 0; height:0; width:0;}
div.pointer-trustquotient {position:absolute;top:9px;left:-13px;}
div.pointer-left-small-inner { border-color:transparent #bbb transparent transparent; border-style:solid; border-width:10px 20px 10px 0; height:0; width:0;}
div.pointer-up-inner   { border-color:transparent transparent #E4E3C3; border-style:solid; border-width:0 15px 15px; float:left; height:0; margin:0; width:0; }

div.box {width:100%;float:left;margin-bottom:15px;padding:0;}
h4 {font-size:16px;font-weight:bold;margin:0 0 5px 0;color:#333;}
h5 {width:auto;float:left;margin:18px 10px 4px 10px;}
h5 span.number {font-size:25px;font-weight:bold;color:#999;}
h5 em {font-size:12px;}
h6 {width:100%;font-size:14px;font-weight: 600;float:left;margin:10px 0 5px 0;letter-spacing:-0.02em;text-shadow: 1px 1px 1px #555;}

#background {position:relative;margin-bottom:18px;}
#background div.photo {float:left;width:75px;height:75px;padding:2px;border:1px solid #aaa;}
#background div.photo img {height:100%;width:100%;}
#background div.description {margin:-5px 0 0 5px; width:315px;min-height:80px;}
#background div.description h2 {margin:0;line-height:20px;}
#background div.description h2 a {text-decoration:none;line-height:1.3;}
#background div.description h2 em {font-size:13px;}
#background div.description p {margin-top:3px;}

#background ul.social_icons {height:35px;}
#background ul.social_icons li {display:inline;float:left;margin:8px 4px !important;width:auto !important;padding:0 !important;}
ul.social_icons li img {border:none;}
ul.topics, ul.bands, ul.flickr, ul.person_jobs {height:auto;margin:0px 0 0 -6px;}
ul.friends {margin:0;height:auto;float:left;}
ul.topics li, ul.bands li, ul.flickr li {float:left;margin:1px 0;width:90px;padding:0 6px;}
ul.friends li {float:left;margin:2px;padding:0;width:50px;}
ul.friends li:hover {}
ul.topics div.photo, ul.bands div.photo, ul.flickr div.photo {float:left;width:87px !important;height:87px !important;border:1px solid #ccc;padding:2px;position:relative;}
ul.friends div.photo {width:50px !important;height:50px !important;}
ul.friends div.photo img, ul.topics div.photo img {height:100%;width:100%;}
ul.topics h2, ul.bands h2 {width:100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:12px;line-height:14px !important;margin-top:0;}
ul.topics div.description {width:100% !important;min-height:16px !important;}
ul.topics div.description h2 {margin:0;}
#background ul.friends div.description h2 a:hover {text-decoration:underline !important;color:#000;}

ul.person_jobs {margin:0;}
ul.person_jobs li {float:left;width:100%;margin:0 0 10px;color:#ccc;font-size:15px;}
ul.person_jobs li em {display:inline;color:#bbb;}
ul.person_jobs a {text-decoration:underline;}

ul.plancast {}
ul.plancast li {float:left;width:100%;margin: 5px 0;color:#aaa;}

#industry_chart, #job_chart, #locations_chart {display:none;float:left;width:94%;}
#li_login {border:1px solid blue;background:lightBlue;padding:10px;float:left;margin-top:15px;}
#li_login p {color:#444;font-size:13px;margin:14px 0;}
#job_chart li, #locations_chart li {float:left;width:auto;margin:5px;background:#777;padding:5px 10px;}
li.tag_1 {background:#555 !important;}
li.tag_2 {background:#5f5f5f !important;}
li.tag_3 {background:#666 !important;}
li.tag_4 {background:#6f6f6f !important;}
li.tag_5 {background:#777 !important;}
li.tag_6 {background:#7f7f7f !important;}
li.tag_7 {background:#888 !important;}
li.tag_8 {background:#8f8f8f !important;}

#industry_chart li {float:left;width:100%;margin:2px 0;height:27px;background:transparent;padding:0;display:inline;position:relative;}
#industry_chart li span {background:#09f;width:50%;display:block;-moz-border-radius:2px;height:100%;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:-webkit-gradient(linear, left top,left bottom, from(#09f), to(#077fd0));
  -webkit-gradient(linear, left top,left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
}
#industry_chart li em {position:absolute;left:5px;top:10px;font-size:11px;text-shadow:1px 1px 1px #fff;}

#linkedin_message {background:pink;border:5px solid #F02475;padding:10px;margin-top:15px;width:89%;color:#000;float:left;display:none;}
#linkedin_message a {color:#000;}

#locations_chart {height:225px;}

.btn { 
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	  font-weight:bold !important;
	  font-size:15px !important;
	  line-height:1 !important;
	  background: #F02475 url("../images/button-shadow.png") repeat-x !important;
	  _background: #F02475 none !important;
	  display: inline-block;
	  color: #fff !important;
	  text-decoration: none !important;
	  margin:0 !important;
	  padding:.6em 1.3em .6em !important;
	  *padding:.7em 1.4em 1em !important;
	  -moz-border-radius: .4em !important;
	  -webkit-border-radius: .4em !important;
	  border-radius: 5px !important;
	  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.75) !important;
	  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.75) !important;
	  box-shadow: 0 1px 3px rgba(0,0,0,0.75) !important;
	  text-shadow: 0 -1px 1px rgba(0,0,0,0.3) !important;
	  border: 1px solid #000 !important;
	  position: relative !important;
	  cursor: pointer !important;
	  width: auto !important;
	height:39px;
	  overflow: visible !important;
	  vertical-align:top !important;
	  *vertical-align:middle !important;}
	
.btn.twnty {
	background: #8DA852 url(/images/button-shadow.png) repeat-x !important;
	_background: #8DA852 none !important;
	padding: 2px 13px !important;
	*padding:.2px 13px !important;
	height:14px !important;
	font-size:12px !important;
	margin:-1px 0 0 5px !important;
	text-shadow: 1px 1px 1px #333333 !important;
}
	
#conversation_container {width:700px;top:46px;position:absolute;right:-705px;z-index:1;display:none;background:#aaa;height:100%;width:90%; padding:15px 5%;}
#conversation_container h3 {}
#conversation_container h3 a {color:#000;}
span.separator {margin:0 5px; font-size:14px;color:#555;}
div.inputs input[type=text] {width:200px;}

#conversations {width:100%;margin-top:42px;}
#conversations li {width:100%;float:left;margin:8px 0;}
#conversations li div.tweet_container {background:#bbb;padding:3px;float:left;border:1px solid #999;}
#conversations li div.photo {float:left;width:45px;height:45px;padding:2px;border:1px solid #aaa;}
#conversations li div.photo img {height:100%;width:100%;}
#conversations li div.description  {width:355px;font-size:13px; margin: 5px 10px 0 10px;color:#333;}
#conversations li div.tweetee {margin:4px 0 0 25px;}

.rounded, .btn {-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.rounded-big {-moz-border-radius:30px;-webkit-border-radius:30px;}
.rounded-small {-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}

#trustquotient {background:#bbb;padding:5px 10px;font-size:10px;float:left;color:#333;width:142px;margin:11px 0 0 10px;position:relative;display:none;}
#trustquotient strong {font-size:12px;}

#share {display:none;}
blockquote {
	 color:#999;
	 font-size: 14px;
	 line-height: 1.3;
	 padding: 0 5px;
	 margin: 0 0 8px 0;
	 background: url(../images/openquote1.png) no-repeat top left transparent;
	 text-indent: 18px;
	 float:left;
}
blockquote a {font-size:13px;color:#666;}

#person_utility div.sn_search {float:left;margin-bottom:35px;}
#person_utility div.note {font-size:16px;float:left;margin-bottom:35px;padding:15px;border:1px solid #aaa;background:#bbb;color:#352140;width:90%;}
div.note h4 em {font-size:13px;color:#555;margin-top:8px;}
div.note h4 em a {font-size:14px;}

#search_share {float:right;display:none;vertical-align:top;height:18px;margin-top:-19px;}
#search_share span {vertical-align:top;}
#search_share iframe {margin-top:-4px;}
#search_share p {margin-top:3px;color:#777;}
#search_share a {text-decoration:none; color:#888;}
#footer {position:fixed;height:25px;width:100%;background:#A0C45E;color:#333;bottom:0;left:0;padding-top:5px;font-size:14px;line-height:16px;text-align:center;border-top:5px solid #8DA852;text-shadow:1px -1px 1px #ccc;/*filter:alpha(opacity=85);-moz-opacity:.85;opacity:.85;*/}
